body{background-color: black;

} 
.typewriter {
  font-family: 'Kode Mono', monospace;
  color: rgb(141, 227, 119);
  overflow: hidden;
  border-right: .15em solid #666;
  white-space: nowrap;
  margin:  auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end),
             blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #666 }
}

.next-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #555;
}